@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

a {
  text-decoration: none;
  color: black;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

.top-fixed {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  padding-top: 15px;
  background-color: #ffffff;
  width: 100vw;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img {
  margin: 50px auto 20px auto;
  color: #2684c6;
}

#category {
  display: flex;
  line-height: 50px;
  text-align: center;
}
#category li {
  padding: 0 15px 0 15px;
}

#category li a {
  font-size: 1rem;
}

#category a:hover {
  text-decoration: 1px solid black underline;
  cursor: pointer;
}

.child-category {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  background-color: #ffffff;
  line-height: 20px;
  font-size: 14px;
  font-weight: 200;
  color: grey;
}
.child-category li:hover {
  color: black;
}

#container {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

#container img {
  max-width: 100%;
}
footer {
  margin-top: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sns-icon {
  display: flex;
  padding-bottom: 50px;
}
#sns-icon li {
  padding: 0 7.5px 0 7.5px;
}
#sns-icon img {
  width: 15px;
  height: 15px;
}

#chat-btn {
  width: 75px;
  height: 75px;
  background-color: #fee700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 990;
}
#chat-btn img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#upright-btn {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999;
  background-color: #ffffff;
}
